body {
	font-family: sans-serif;
	color: #222;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
}

a {
	color: #0645ad;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main,
.headerInner,
footer {
	max-width: 1100px;
	margin: 0 auto;
	padding: 1em;
}

header {
	position: sticky;
	top: 0;
	background: #fff;
	box-shadow: 0 0 2px 2px rgba( 0, 0, 0, 0.25 );
}

.headerInner {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
}

.headerInner > h1 {
	margin: 0;
}

footer {
	text-align: right;
}

button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	min-height: 2.3em;
}

button,
select,
input[ type='checkbox' ] {
	cursor: pointer;
	background-color: #f8f9fa;
}

button:disabled {
	border-color: #c8ccd1;
	background-color: #c8ccd1;
	color: #fff;
	cursor: default;
}

textarea {
	font-family: monospace, monospace;
}

textarea:focus,
select:focus,
button:focus {
	border-color: #36c;
	outline: 0;
	box-shadow: inset 0 0 0 1px #36c;
}

.logo {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	background: url( images/logo.svg ) no-repeat 0 0;
	background-size: contain;
	line-height: 2em;
	padding-left: 2.5em;
}

.logo:hover {
	text-decoration: none;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 0;
}

label > * {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}

label > div {
	width: 12em;
}

button[ type='submit' ] {
	margin-left: 12em;
}

.user {
	position: absolute;
	right: 1em;
	top: 0.5em;
	line-height: 4em;
}

.signIn {
	text-align: center;
	margin: 5em 0 3em 0;
}

.wikis {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1em;
}

.wikis.hideOthers tr.other {
	display: none;
}

.wikis th,
.wikis td {
	border: 1px solid #a2a9b1;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

.wikis th {
	background: #eaecf0;
}

.wikis td {
	background: #f8f9fa;
}

.wikis tr:hover td {
	background: #eaf3ff;
}

.wikis .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 30em;
}
