body {
	font-family: sans-serif;
}

h1 {
	background: url( logo.svg ) no-repeat 0 0;
	background-size: contain;
	line-height: 2.2em;
	padding-left: 2.5em;
}

a {
	color: #0645ad;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body,
button,
select,
textarea {
	font-size: 14px;
	line-height: 1.5;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 0;
}

label > * {
	font-size: 14px;
}

label > div {
	width: 12em;
}

label > div,
label > select,
label > textarea {
	display: inline-block;
	vertical-align: top;
}

button[ type='submit' ] {
	margin-left: 12em;
	cursor: pointer;
}

.user {
	position: absolute;
	right: 1em;
	top: 1em;
}

.wikis {
	border-collapse: collapse;
	margin-top: 1em;
}

.wikis th,
.wikis td {
	border: 1px solid #a2a9b1;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

.wikis th {
	background: #eaecf0;
}

.wikis td {
	background: #f8f9fa;
}

.wikis tr:hover td {
	background: #eaf3ff;
}

.wikis .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 30em;
}
